.App {
  text-align: center;
  background-color: rgb(21, 27, 21);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0f1e38;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgb(11, 23, 62);
  padding: 40px;
  border-radius: 25px;
  /* box-shadow: #e3074d; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Change the color of input tags */
input {
  background-color: lightgray;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

/* Change the color of the submit button */
input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
}

input[type="submit"]:hover {
  background-color: darkblue;
}

.heading{
  color: rgb(22, 54, 142);
  font-weight: bold;
}

.name{
  color: aqua;
}
.input_name{
  color: red;
}
